:root {
	--offwhite: #DDDDDD;
	--offwhiteDarker: #AAAAAA;
	--rosered: #800000;
	--lightrosered: #A40000;
}

body {
	background: var(--offwhite);
}

.navbar {
	background-color: var(--rosered);
	color: white;
	/* Enough z-index to draw over the Leaflet map */
	z-index: 9001;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: var(--offwhiteDarker);
}

.desktop-only {
	display: none;
}

#routeNavItem {
	/* display: flex;
	flex-direction: row;
	align-items: baseline; */
	max-height: 100px;
}

/*
#speedNavItem {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	
} */

.favoritePlaceLising {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	/* color: --whi; */
}

.favoritePlaceLising > p {
	padding-left: 10px;
	margin-bottom: 0px;
}

#directionsTitle {
	padding-right: 20px;
}

.page-container {
	margin-top: 75px;
}

.bottom-float {
	/* position: fixed;
	bottom: 10px;
	z-index: 999;
	
	/* Horizontal centering */
	/* https://stackoverflow.com/a/2006008 */
	/* left: 0;
	right: 0; */
}

.bmd-layout-content {
	height: 100vh;
}

.bmd-drawer-in > .bmd-layout-drawer {
	width: 300px;
}

.bmd-layout-drawer>header {
	background-color: var(--rosered);
	color: white;
}
.bmd-layout-drawer>ul {
	background-color: var(--offwhite);
}

.btn-red {
	background-color: var(--rosered);
	color: white;
	border-radius: 7px;
	text-transform: none;
	font-size: 0.9em;
}

.btn-icon {
	/* https://stackoverflow.com/a/38543056 */
	display: inline-flex;
	align-items: center;
}

.btn-icon > i {
	font-size: 15px;
	margin-right: 8px;
}

/* Win specificity war with bootstrap material design animation */
#signInOutButton {
	background-color: var(--rosered);
	color: white;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/* when navigating through the items using the arrow keys: */
	background-color: DodgerBlue !important;
	color: #ffffff;
}

 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */

#mapContainer {
	/* padding-bottom: 20px; */
}

#navigateMap {
	height: 80%;
	background-color: darkgray;
}

.code {
	font-family: Monaco, monospace;
	padding-left: 5px;
	padding-right: 5px;
}

.marker-dev-selected-1 {
	filter: hue-rotate(90deg);
}

.marker-dev-selected-2 {
	filter: hue-rotate(-0.25turn);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Rules for using icons as rose red on a light background. */
.rose-text {
	color: var(--rosered);
}

/* Rules for using icons as light rose red on a light background. */
.light-rose-text {
	color: var(--lightrosered);
}

/* Rules for using icons as white on a dark background. */
.light-text {
	color: rgba(255, 255, 255, 1);
}

/* Rules for using icons as black on a light background. */
.dark-text {
	color: rgba(0, 0, 0, 1);
}

#travelType label {
	color: black;
}

.bmd-btn-icon {
	margin: auto;
}

.navbar-brand.h4 {
	font-size: 1.5rem;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.page-container {
		margin-top: 40px;
	}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.bottom-float {
		position: fixed;
		bottom: 10px;
		z-index: 999;
		
		/* Horizontal centering */
		/* https://stackoverflow.com/a/2006008 */
		left: 0;
		right: 0;
	}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#navigateMap {
		height: 500px;
	}

	.desktop-only {
		display: inherit;
	}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#navigateMap {
		/* height: 180px; */
	}
}